<% was_validated = user.errors.any? %>

<%= form_with(model: user, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for email start -->
  <div class="form-group">
    <% email_class = "form-control" %>
    <% email_was_invalid = user.errors.include?(:email) %>

    <% if was_validated %>
      <% if email_was_invalid %>
        <% email_class << " is-invalid" %>
      <% else %>
        <% email_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :email %>
    <!-- Input for email start -->
    <%= f.text_field :email, class: email_class, placeholder: "Enter email" %>
    <!-- Input for email end -->
    <% if email_was_invalid %>
      <% user.errors.full_messages_for(:email).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for email end -->
  <!-- Label and input for user_name start -->
  <div class="form-group">
    <% user_name_class = "form-control" %>
    <% user_name_was_invalid = user.errors.include?(:user_name) %>

    <% if was_validated %>
      <% if user_name_was_invalid %>
        <% user_name_class << " is-invalid" %>
      <% else %>
        <% user_name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :user_name %>
    <!-- Input for user_name start -->
    <%= f.text_field :user_name, class: user_name_class, placeholder: "Enter user name" %>
    <!-- Input for user_name end -->
    <% if user_name_was_invalid %>
      <% user.errors.full_messages_for(:user_name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for user_name end -->
  <!-- Label and input for password_proxy start -->
  <div class="form-group">
    <% password_proxy_class = "form-control" %>
    <% password_proxy_was_invalid = user.errors.include?(:password_proxy) %>

    <% if was_validated %>
      <% if password_proxy_was_invalid %>
        <% password_proxy_class << " is-invalid" %>
      <% else %>
        <% password_proxy_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :password_proxy %>
    <!-- Input for password_proxy start -->
    <%= f.text_field :password_proxy, class: password_proxy_class, placeholder: "Enter password proxy" %>
    <!-- Input for password_proxy end -->
    <% if password_proxy_was_invalid %>
      <% user.errors.full_messages_for(:password_proxy).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for password_proxy end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
